  .navbar {
    background-color: #3b5998;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffcc00;
  }

  .navbar-dark .navbar-nav .nav-link.active {
    color: #ffcc00;
    font-weight: bold;
  }

  h1.text-center {
    color: #3b5998;
    font-size: 24px;
    margin-top: 20px;
  }


  .footer {
    background-color: #3b5998;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
  }

  .footer span {
    font-size: 14px;
  }
